@import "font-awesome-sprockets";
@import "./font-awesome";
@import "./reset";
@import "./user";
@import "./side_bar";
@import "./contents";
@import "./form";

* {
  box-sizing: border-box;
}


body {
  height: 100vh;
  width: 100vw;
  background-image: url(worldmap.png);
  background-size: cover;
  &:after {
    position: relative;
    z-index: -1;
    background-attachment: fixed;
  }
}

footer {
  .main-menu {
    width: 100vw;
    height: 100px;
    background-color: rgb(7, 53, 26);
    position: absolute;
    bottom: 0;
    .main-menu__list {
      width: 960px;
      margin: 0 auto;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      .main-menu__list-item {
        font-size: 24px;
        background-color: darkolivegreen;
        height: 58px;
        .main-menu__list-item__content {
          text-align: center;
          margin: auto;
          border: 2px;
          height: 58px;
          color: white;
        }
      }
    }
  }
  .main-bottom {
    height: 18px;
    text-align: center;
    margin-bottom: 0;
  }
}