@import "./reset";

.main {
  .main__map {
    height: calc(100vh - 140px);
    width: 100vw;
    background-image: url(worldmap.png);
    background-size: cover;
  }
}

.main-menu {
  width: 100vw;
  height: 140px;
  background-color: olive;
  position: absolute;
  bottom: 0;
}